<!DOCTYPE html>
<html>
  <head>
    <title><%= "CommeCiCord | Your Place to Talk and Hang Out" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('discord_favicon.ico') %>
    <script type="text/javascript">
      window.discord_logo_inverted = "<%= image_url('discord_logo_inverted.png') %>"
      window.discord_auth_bg = "<%= image_url('discord_auth_background.jpg') %>"
      // window.backgroundBuildings = "<%= image_url('backgroundBuildings.svg') %>"
      // window.foregroundLeft = "<%= image_url('foregroundLeft.svg') %>"
      // window.foregroundRight = "<%= image_url('foregroundRight.svg') %>"
      // window.cloud1 = "<%= image_url('cloud1.svg') %>"
      // window.cloud2 = "<%= image_url('cloud2.svg') %>"
      // window.cloud2Second = "<%= image_url('cloud2Second.svg') %>"
      // window.cloud3 = "<%= image_url('cloud3.svg') %>"
      // window.cloud4 = "<%= image_url('cloud4.svg') %>"
      // window.cloud5 = "<%= image_url('cloud5.svg') %>"
      // window.cloud6 = "<%= image_url('cloud6.svg') %>"
      // window.cloud7 = "<%= image_url('cloud7.svg') %>"
      // window.cloud8 = "<%= image_url('foregroundRight.svg') %>"
      // window.cloud9 = "<%= image_url('cloud9.svg') %>"
      // window.cloud10 = "<%= image_url('cloud10.svg') %>"
      // window.cloudCute = "<%= image_url('cloudCute.svg') %>"
      // window.diamond = "<%= image_url('diamond.svg') %>"
      // window.island1 = "<%= image_url('island1.svg') %>"
      // window.island2 = "<%= image_url('island2.svg') %>"
      // window.ship = "<%= image_url('ship.svg') %>"
      // window.stripe1 = "<%= image_url('stripe1.svg') %>"
      // window.stripe2 = "<%= image_url('stripe2.svg') %>"
      // window.stripe3 = "<%= image_url('stripe3.svg') %>"
      // window.stripeCute = "<%= image_url('stripeCute.svg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
