<!DOCTYPE html>
<html>
  <head>
    <title><%= "CommeCiCord | Your Place to Talk and Hang Out" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('discord_favicon.ico') %>
    <script type="text/javascript">
      window.discord_logo_inverted = "<%= image_url('discord_logo_inverted.png') %>"
      window.discord_auth_bg = "<%= image_url('discord_auth_background.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
